{%
  set classes = [
    'view-' ~ css_name,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  {% if exposed %}
    <div class="views-exposed">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}
  <div class="view-body">
    {{ rows }}
    {% if empty %}
      <div class="empty">
        {{ empty }}
      </div>
    {% endif %}
    {% if pager %}
      <div class="pager">
        {{ pager }}
      </div>
    {% endif %}
  </div>
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {{ more }}
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
  {{ feed_icons }}
</div>
